/* IMPORTE DAS FONTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap');
:root{
    --normal: 'Montserrat', sans-serif;
}

/* TAGS ESTRUTURAIS BASE CSS */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--normal);
}

/* CABEÇALHO */

header{
    background-color: #f0d1a8;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 20px;
}  
header img{
    width: 60px;
    transition: linear transform 0.15s;
}
    
header img:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#mudarTema{
    background: none;
    border: none;
}
header div{
    padding: 0 20px 0 20px;
}

/* DIVISÕES DO HEADER */

.botoes{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.botaoInicio{
    align-items: left;
}
.botaoTema{
    align-items: right;
}

/* CORPO */

main{
    background-color: #f0d1a8;
    padding: 0 60px 452px 60px;
}
main h1{
    font-weight: 300;
}


/* DIVISÕES DO CORPO*/

.regiao{
    text-align: center;
    padding: 10px;
    width: 100%;
}
.regiao h1{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    
}   
.quadro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.unidade{
    border: #535353 2px solid;
    border-radius: 15px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    transition: linear transform 0.15s;
    width: 250px;
}
.unidade p{
    overflow-y: scroll;
    height: 88px;
    padding: 10px;
}
.unidade:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #535353 2px solid;
    border-radius: 15px;
    margin: 10px;
}
.titulo img{
    width: 60px ;
    padding: 5px;
}
.titulo h1{
    font-style: oblique;
    padding: 5px 10px;
    font-size: 22px;
}
.pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemon img{   
    height: 100px;
}
.pokemon p{
    width: 200px;
}
.tipos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 12px;
}
.tipos h1{
    border: solid #535353 2px;
    border-radius: 15px;
    padding: 5px;
}


/* RODAPÉ */

footer h1{
    font-weight: 500 ;
    font-style: italic;
}
footer{
    background-color: #3f413f;
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

/* CORES DOS TIPOS  */

#normal{
    background-color: #999999;
}
#lutador{
    background-color: #e93939;
}
#grama{
    background-color: #27e927;
}
#veneno{
    background-color: #f531f5;
}
#agua{
    background-color: #24adfc;
}
#fogo{
    background-color: #fd9c1c;
}
#voador{
    background-color: #97cafd;
}
#terra{
    background-color: #a8793e;
}
#pedra{
    background-color: #bbba88;
}
#inseto{
    background-color: #a0a524;
}
#fantasma{
    background-color: #68446e;
}
#ferro{
    background-color: #6bb0d4;
}
#eletrico{
    background-color: #fcdb00;
}
#psiquico{
    background-color: #ff607d;
}
#gelo{
    background-color: #44d6fc;
}
#dragao{
    background-color: #5363d6;
}
#sombrio{
    background-color: #484848;
}
#fada{
    background-color: #fab3fd;
}


/* ESTILO DA BARRA DE ROLAGEM */

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}
/* Cor de fundo */
::-webkit-scrollbar-track {
    background-color: #f0d1a8;
    border: #5c6063 ;
}
/* Cor do preenchimento da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #86a531;
    border-radius: 5px;
    border: 2px solid #3f413f;
}
/* Cor do traço na barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}