@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap');
:root{
    --normal: 'Montserrat', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--normal);
}

/* CORPO */

header{
    background-color: #535353;
    text-align: center;
    font-size: 40px;
    padding: 5px;
    font-weight: 300;
}
header h1, footer h1{
    font-weight: 500 ;
    font-style: italic;
}
main{
    padding: 430px 0;
    margin: 5px;
}
main h1{
    font-weight: 300;
}
.unidade{
    display: flex;
    margin: 0 300px ;
    width: 300px;
}
.unidade img{
}
footer{
    background-color: #535353;
    text-align: center;
}
